.popup-bigcard{
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.505);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.popup-bigcard__show{
  display: flex;
}

.popup-bigcard__container{
  max-width: 816px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.popup-bigcard__icon{
  width: 40px;
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.popup-bigcard__icon:hover{
  opacity: .6;
}

.popup-bigcard__img{
  max-height: 562px;
}

.popup-bigcard__description{
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

@media screen and (max-width: 500px){
  .popup-bigcard__container{
    max-width: 240px;
    max-height: 299px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
  }

  .popup-bigcard__icon{
    width: 26px;
    height: 26px;
    position: absolute;
    top: -35px;
    right: -30px;
    cursor: pointer;
  }
}