.popup{
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.505);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.popup__show{
  display: flex;
}

.popup__form{
  width: 430px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  padding: 36px;
  position: relative;
}

.popup__icon{
  width: 40px;
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.popup__icon:hover{
  opacity: .6;
}

.popup__header{
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

.popup__input{
  margin-top: 54px;
  padding: 0 0 7px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  border: none;
  border-bottom: 1px solid #545454;
}


.popup__input_type_error{
  border-bottom: 1px solid red;
}

.popup__error{
  margin-top: 5px;
  color: red;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.popup__button{
  background-color: black;
  color: white;
  margin-top: 48px;
  padding: 14px 0 14px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  cursor: pointer;
}

.popup__button:hover{
  opacity: .8;
}

.popup__button_disabled{
  background-color: #f0f0f0;
  cursor: not-allowed;
  opacity: 0.6;
  border: 1px solid #ccc;
  color: #777;
}

@media screen and (max-width: 500px) {

  .popup__form{
    width: 282px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    padding: 25px;
    position: relative;
  }

  .popup__icon{
    width: 26px;
    height: 26px;
    position: absolute;
    top: -45px;
    right: 0px;
  }
}